.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

  h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
  }
  a{
    text-decoration: none;
  }
  .form-field-wrapper{
    width: 100%;
    // left: 30px;
    // right: -60px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .forgot-field-wrapper{
    text-align: center;
    margin-top: -2px;
  }
  .btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .signin-btn{
    width: 80%;
    border-radius: 20px;
    background: #d4af7a;
    // color: darken(#768cb6, 20%);
    color: white;
  }
  .gmail-btn{
    width: 80%;
    border-radius: 20px;
    color: darken(#768cb6, 20%);
  }
  mat-form-field{
    width: 80%;
    text-align: center;
    // line-height: 50px;
  }

  mat-error{
    font-size: 12px!important;
  }

.main-content-wrapper{
display: flex;
justify-content: center;
width: 50%;
height: 100%;
}

.login-wrapper{
  // border: 2px solid red;
  margin-top: 150px;
}


.signup-wrapper{
  // height: 100%;
  margin-top: 50px;
  margin-bottom: 2em;
}

.img{
  // border: 2px solid blue;
  height: 500px;
  width: 80%;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
  background-size: cover;
  // background-repeat: no-repeat;
  z-index: 1;
  color: white;
  border-radius: 10px;

}

.img>h2{
  padding-top: 40px;
}
.img>p,h2{
  text-align: center;
}

.signup-btn{
  width: 100%;
  margin-top: 200px;
  text-align: center;

}

.signup-btn>[mat-raised-button]{
  width: 80%;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  border-right-color: #fff;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: normal;
}








@media screen and (max-width: 959px) {
  .signup-wrapper{
    display: none;
  }

  .login-wrapper{
    width: 100%;
    margin-top: 40px;
  }

  .form-field-wrapper > mat-form-field{
    width: 70%;

  }
  .main-content-wrapper,.container{
    // display: flex;
    // justify-content: center !important;
    width: 100%;
    height: 100%;
    }

}

// For medium to large screen size
@media screen and (min-width:959px) and (max-width: 1259px) {
  .img{
    // border: 2px solid blue;
    height: 500px;
    width: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    // background-repeat: no-repeat;
    z-index: 1;
    color: white;
    border-radius: 10px;

  }
}

  // For extra large screen size
  @media screen and (min-width:1260px) and (max-width: 1919px) {


  }
