mat-card{
  width: 50%;
  // height: 84%;
  margin-top: 70px;
  background-color: #F4F9F9;
}

mat-error{
  font-size: 12px!important;
}

h1 {
  text-align: center;
  font-weight: 700;
  color: #32508E;
}

.signupbtn{
  width: 83% !important;
  margin: 10px 0px 0px 50px;
}
.main-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.form-fields-wrapper {
  margin: 0px 50px;
}

mat-form-field{
    width: 100%;
}
.cPassword-error{
  color: red;
  font-size: 12px;
  margin-top: -17px;
}

[mat-raised-button]{
  width: 100%;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300px;
  font-size: 28px;
  padding-bottom: 30px;

}

a {
  text-decoration: none;
}


// For extra smaller screen size
@media screen and (max-width: 959px) {
}

// For medium to large screen size
@media screen and (min-width:959px) and (max-width: 1259px) {

}

// For extra large screen size
@media screen and (min-width:1280px) and (max-width: 5000px) {

  .main-wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  mat-card{
    text-align: center;
    margin-top: 70px;
  }
  .form-fields-wrapper {
    margin: 0px 140px;
  }

  .signupbtn{
    width: 62% !important;
    margin: 10px 0px 0px 0px;
  }
}
