<mat-toolbar class="toolbar">
    <div fxLayout="row" class="flex-container">
        <div fxHide.lt-md="true" fxFlex.gt-sm="30%" fxFlex.lt-md="20%" fxFlexAlign="center" class="leftside-wrapper">
            <span class="logo-wrapper">
                <img src="../../../../assets/Logo/logo2.jpg" height="50px" style="margin-top: 5px;" alt="Logo">
             </span>
        </div>
        <div fxFlex.gt-sm="70%" fxFlex.lt-md="100%" class="rightside-wrapper">
            <div fxlayout="row" fxLayoutAlign.gt-sm="end stretch" fxLayout.lt-md="center">
                <div fxFlex.gt-sm="2" fxFlex.lt-md="25%" fxFlexAlign="center" class="innerRight-wrapper">
                    <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
                </div>
                <div fxFlex.gt-sm="2" fxFlex.lt-md="25%" fxFlexAlign="center" class="innerRight-wrapper">
                    <a [routerLink]="['/Service']" routerLinkActive="router-link-active">Service</a>
                </div>
                <div fxFlex.gt-sm="20" fxFlex.lt-md="25%" fxFlexAlign="center" class="innerRight-wrapper">
                    <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
                </div>
                <div fxFlex.gt-sm="10" fxFlex.lt-md="30%" fxFlexAlign="center" class="innerRight-wrapper">
                    <span *ngIf="!loginStatus" style="display: flex; justify-content: center; margin-right: 50px;">
                    <a  [routerLink]="['/login']" routerLinkActive="router-link-active" style="margin-right: 15px;">Login</a>
                    <!-- <br> -->
                    <!-- <hr style="width: 50px; margin-left: -5px; margin-top: 1px; margin-bottom: 1px; color: black !important;"> -->
                    <span class="signup">
                    <a  [routerLink]="['/register']" routerLinkActive="router-link-active">Sign Up</a>
                    </span>
                </span>
                    <div *ngIf="loginStatus" fxFlexAlign="center" class="user-wrapper">
                    <div class="dropdown">
                      <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="50,10">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/dashboard/home']" routerLinkActive="router-link-active">Dashboard</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Notification</a></li>
                        <hr>
                        <li><a class="dropdown-item" (click)="logoutUser()">Logout</a></li>
                      </ul>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</mat-toolbar>
