<div class="content_wrapper"  *ngIf="title !== 'Update' && title !=='Email'">
    <div class="header_wrapper">
        <mat-card>
            <h1>{{title || 'Create Appointment'}}</h1>
        </mat-card>
    </div>
    <div class="form_wrapper">
        <form #createAppointmentForm='ngForm' action="">
            <div fxLayout="row" fxLayoutGap="50px">
                <div class="form_field_wrapper" fxFlex="50%">
                    <mat-form-field>
                        <input matInput type="text" name="title" autocomplete="off" placeholder="Title of Appointment" [(ngModel)] ='appointmentDetails.title'>
                    </mat-form-field>
                </div>
                <div class="form_field_wrapper" fxFlex="50%">
                    <mat-form-field>
                        <input matInput type="text" name="name" autocomplete="off" placeholder="Name of the person" [(ngModel)] ='appointmentDetails.name'>
                    </mat-form-field>
                </div>
            </div>
            <div class="appointment_description_wrapper">
                <div class="form_field_wrapper">
                    <mat-form-field style="width:100% !important;">
                        <mat-label>Appointment Description</mat-label>
                        <textarea matInput autocomplete="off" cdkTextareaAutosize style="overflow:hidden;"
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"name="appointment_description" id="appointment_description"
                        [(ngModel)] ='appointmentDetails.appointment_description'>
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="50px">
                <div class="form_field_wrapper" fxFlex="50">
                    <mat-form-field appearance="standard">
                        <mat-label>Choose a Appointment Date</mat-label>
                            <input matInput [min]="today" [matDatepicker]="picker" name="appointment_date" [(ngModel)] ='appointmentDetails.appointment_date'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form_field_wrapper" style="padding-top: 1em;">
                    <mat-form-field>
                        <input matInput type="time" name="appointment_time" autocomplete="off" placeholder="Set Appointment Time" [(ngModel)] ='appointmentDetails.appointment_time'>
                    </mat-form-field>
                </div>
            </div>
            <div class="form_field_wrapper" style="padding-top: -3em;">
              <mat-form-field style="width: 100%;">
                  <input matInput type="email" name="appointment_email" autocomplete="off" placeholder="Enter Email of the Organization or Individual" [(ngModel)] ='appointmentDetails.appointment_email'>
              </mat-form-field>
          </div>
          <div class="text-center mb-3" *ngIf="isCreatingAppointment">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
            <div id="submitBtn">
                <button type="submit" mat-raised-button color="accent" (click)="create()">Create</button>
            </div>
        </form>
    </div>
</div>

<!-- Section for Updating Appointment -->
<div class="content_wrapper" *ngIf="title === 'Update' && title !== 'Email'" style="margin-top: 1px !important;">
    <div class="header_wrapper">
        <mat-card style="background: #f1eeee !important;">
            <h1>{{title || 'Create Appointment'}}</h1>
        </mat-card>
    </div>
    <div class="form_wrapper">
        <form #createAppointmentForm='ngForm' action="">
            <div fxLayout="row" fxLayoutGap="50px">
                <div class="form_field_wrapper" fxFlex="50%">
                    <mat-form-field>
                        <input matInput type="text" name="title" autocomplete="off" placeholder="Title of Appointment" [(ngModel)] ='appointmentData.title'>
                    </mat-form-field>
                </div>
                <div class="form_field_wrapper" fxFlex="50%">
                    <mat-form-field>
                        <input matInput type="text" name="name" autocomplete="off" placeholder="Name of the person" [(ngModel)] ='appointmentData.name'>
                    </mat-form-field>
                </div>
            </div>
            <div class="appointment_description_wrapper">
                <div class="form_field_wrapper">
                    <mat-form-field style="width:100% !important;">
                        <mat-label>Appointment Description</mat-label>
                        <textarea matInput autocomplete="off" cdkTextareaAutosize style="overflow:hidden;"
                        #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="5"name="appointment_description" id="appointment_description"
                        [(ngModel)] ='appointmentData.appointment_description'>
                        </textarea>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap="50px">
                <div class="form_field_wrapper" fxFlex="50">
                    <mat-form-field appearance="standard">
                        <mat-label>Choose a Appointment Date</mat-label>
                            <input matInput [min]="today" [matDatepicker]="picker" name="appointment_date" [(ngModel)] ='appointmentData.appointment_date'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form_field_wrapper" style="padding-top: 1em;">
                    <mat-form-field>
                        <input matInput type="time" name="appointment_time" autocomplete="off" placeholder="Set Appointment Time" [(ngModel)] ='appointmentData.appointment_time'>
                    </mat-form-field>
                </div>
            </div>
            <div class="form_field_wrapper" style="padding-top: -3em; display: block !important;">
              <mat-form-field style="width: 100%;">
                  <input matInput type="email" name="appointment_email" autocomplete="off" placeholder="Enter Email of the Organization or Individual" [(ngModel)] ='appointmentDetails.appointment_email'>
              </mat-form-field>
          </div>
            <div id="submitBtn">
                <button type="submit" mat-raised-button color="accent" (click)="updateAppointment()">Update</button>
            </div>
        </form>
    </div>
</div>

