<div class="footer-content-wrapper">
  <div style="height: 150px; overflow: hidden;">
    <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;  bottom: -5px;">
      <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z"  style="stroke: none; fill: #f8f9fa;"></path>
    </svg>
  </div>
    <div class="contact-wrapper">
        <div class="category-wrapper">
            <h2 style="margin-top: 2em;">Category </h2>
            <ul>
                <li><a href="#">Create appointments</a></li>
                <li><a href="#">Set Reminders</a></li>
                <li><a href="#">Send Emails</a></li>
            </ul>
           </div>
           <div class="resources-wrapper">
            <h2 style="margin-top: 2em;">Resources </h2>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">About App</a></li>
                <li><a href="#">Forum</a></li>
            </ul>
           </div>
    </div>
    <div class="copyright-wrapper">
    <span class="copyright">Copyright &#169; 2021 Barrondy Ltd.</span>
    </div>
</div>
